h1 {
  font-size: 3rem;
  font-family: "Source Serif Pro", serif;
}
html {
  background: linear-gradient(135deg, #8b2222, #cd5c5c);
}

@media (max-width: 850px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }

  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}
@media (min-width: 851px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    border-bottom: solid;
    border-width: 2px;
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}

@media (min-width: 1080px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    display: flex;
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}

@media (min-width: 1700px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    display: flex;
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }

  #produts > div > img {
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}
h1 {
  font-size: 3rem;
  font-family: "Source Serif Pro", serif;
}
html {
  background: linear-gradient(135deg, #8b2222, #cd5c5c);
}

@media (max-width: 850px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }

  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}
@media (min-width: 851px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    border-bottom: solid;
    border-width: 2px;
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}

@media (min-width: 1080px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    display: flex;
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  #produts > div > p {
    margin-left: 9%;
  }
  #produts > div > p2 {
    margin-left: 9%;
  }
  #produts > div > img {
    display: flex;
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
    align-self: center;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}

@media (min-width: 1700px) {
  #container > div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: auto;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  #produts > div {
    display: flex;
    border-style: solid;
    border-color: #ccc9c9;
    border-radius: 8px;
    padding: 10px;
    background-color: #f1f1f1;
  }

  #produts > div > img {
    width: 16rem;
    height: 19rem;
    border-radius: 8px;
  }
  #header {
    display: flex;
    margin: 30px;
    justify-content: space-between;
  }
  #addCart {
    background-color: rgb(195, 49, 33);
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
  }
  #addCart:hover {
    background-color: rgb(214, 46, 27);
    transition: all 0.4s ease-out;
  }
  #buttonCarrinho {
    cursor: pointer;
  }

  #buttonCarrinho:active {
    color: rgb(44, 4, 6);
  }
}
